<div class="inner_card_box_1">    
  <p class="card_image_box_1"><%= image_tag("/cards/#{classification_1}.png", class: 'card_image_1 slideInBottom') %></p>
</div>
<div class="inner_card_box_2" id='keyvisual'>  
  <p class="card_image_box_2"><%= image_tag("/cards/#{classification_2}.png", class: 'card_image_2 slideInBottom') %></p>
</div>